
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Arial';
  font-weight:500;
  color: #3E3937;
  padding: 0;
  background: #f0f1f7;
}
img {
    max-width: 100%;
}
a {
  transition: 0.2s;
}
.container {
  max-width: 1170px;
  width: calc(100% - 30px);
  display: inline-block;
  text-align: left;
}
.section {
    text-align: center;
}
.section.main {
    background: url(../images/fty.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.header {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 54px;
    text-align: right;
}
.logo {
    float: left;
}
.loc {
    float: left;
    margin-left: 150px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    transition: 0.2s;
    position: relative;
    border-bottom: 2px solid;
    margin-top: 30px;
	cursor: pointer;
}
.loc:before {
    content: "";
    width: 26px;
    height: 26px;
    background: url(../images/loc.svg) center no-repeat;
    position: absolute;
    top: -2px;
    left: -32px;
}
.phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #00A9AF;
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 26px;
}
.phone:hover {
    color: #3E3937;
}
.fb_btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 12px 57px 11px 16px;
    border: 1px solid #DB2E2A;
    border-radius: 60px;
    transition: background 0.2s;
    color: #DB2E2A;
    margin-top: 17px;
    float: right;
}
.fb_btn span {
    transition: 0.2s;
    position: relative;
    z-index: 5;
}
.fb_btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;
    border-left: 1px solid #DB2E2A;
    background: url(../images/call.svg) center no-repeat;
    background-size: 12px;
}
.fb_btn:hover {
    background: #DB2E2A;
    color: #ffffff;
}
.fb_btn:hover:after {
    filter: brightness(10);
}
.loc:hover {
    color: #00a9af;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.02em;
    margin: 0;
}
.main_content {
    display: inline-block;
    max-width: 770px;
    width: 100%;
    margin-top: 150px;
}
h1 span {
    color: #00A9AF;
}
.pr_list {
    display: inline-block;
    width: 100%;
}
.pr_item {
    float: left;
    width: 50%;
    margin-top: 25px;
    background: url(../images/check.svg) left no-repeat;
    padding-left: 51px;
    font-size: 18px;
    min-height: 44px;
    line-height: 44px;
}
.pr_item span {
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.r_btn {
    transition: 0.2s;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 60px;
    display: inline-block;
    padding: 34px 51px;
    background: #B71611;
    box-shadow: 0px 6px 10px rgba(225, 50, 45, 0.28);
    margin-bottom: 18px;
    margin-top: 46px;
    outline: none;
    cursor: pointer;
}
.r_btn span {
    position: relative;
    z-index: 5;
}
.r_btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 93%;
    z-index: 1;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.73) -26.26%, rgba(255, 255, 255, 0) 11.62%), linear-gradient(180deg, #ED3833 0%, #C1221E 100%);
    border-radius: 60px;
    top: 0;
    left: 0;
}
.r_btn:hover {
    box-shadow: 0px 16px 17px rgba(225, 50, 45, 0.51);
}

.r_btn>i {
    position: absolute;
    width: 100%;
    height: 93%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    border-radius: 60px;
}
.r_btn>i:after {
    content: "";
    position: absolute;
    top: -20%;
    left: -30%;
    width: 160%;
    height: 140%;
    background: linear-gradient(to left, rgb(216, 45, 41), rgba(255, 199, 210, 0.98), rgb(213, 44, 39)) no-repeat -60px 0%;
    /* filter: blur(5px); */
    background-size: 140px 100%;
    transition: 2s linear;
    animation-name: mbt_blick;
    -webkit-animation-name: mbt_blick;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-transform: skewX(-36deg);
    -o-transform: skewX(-36deg);
    -webkit-transform: skewX(-36deg);
    transform: skewX(-36deg);
}
@keyframes mbt_blick {
  0% {  
  background-position: -60px 0%;  
  }
  100% {
  background-position: 140% 0%;  
  }  
}   
@-webkit-keyframes mbt_blick {  
  0% {  
  background-position: -60px 0%;   
  }
  100% {
  background-position: 140% 0%;  
  } 
}  

.descr {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    max-width: 420px;
}
.present_bl {
    display: inline-block;
    width: 100%;
    margin: 25px 0;
}
.present_item {
    float: left;
    line-height: 125px;
    height: 125px;
}
.present_item img {
    float: left;
}
.present_item span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.partner_bl {
    display: inline-block;
    width: 100%;
}
.partner_bl .name {
    float: left;
    font-size: 18px;
    line-height: 26px;
    width: 180px;
    margin-top: 6px;
}
.partners_list {
    float: left;
    width: calc(100% - 180px);
    justify-content: space-between;
    align-items: center;
}
.partners_item {
    opacity: 0.3;
    transition: 0.2s;
    float: left;
    width: calc(100% / 10);
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.partners_item img {
    vertical-align: middle;
}
.partners_item:hover {
    opacity: 1;
}
.copyr_bl {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.copyr_bl a {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #00a9af;
    float: right;
}
.copyr_bl a:hover {
    color: #00a9af;
}
.copyr_txt {
    float: left;
    font-size: 12px;
    /*width: calc(100% - 240px);*/
    text-align: left;
}
.pop_bl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: baseline;
    background: rgba(0, 0, 0, 0.74);
}
.pop_bl.active {
    display: flex;
}
.pop_bg {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.pop_cont {
    position: relative;
    z-index: 5;
    background: #ffffff;
    border-radius: 16px;
    padding: 50px;
    width: calc(100% - 30px);
    max-width: 420px;
    margin: 30px 0;
}
.pop_name {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}
.pop_descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.input_bl {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.input_bl input {
    display: inline-block;
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 60px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', 'Arial';
    font-weight: 500;
    color: #3E3937;
    height: 62px;
    padding: 0 30px;
    outline: none;
    -webkit-appearance: none;
}
.input_bl select {
display: inline-block;
    width: 100%;
    border: 1px solid #E8E8E8;
    /* border-radius: 60px; */
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', 'Arial';
    font-weight: 500;
    color: #3E3937;
    /*height: 62px;*/
    padding: 0 30px;
    outline: none;
}
.s_btn {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    width: 100%;
    transition: 0.2s;
}
.s_btn.r_btn {
    padding: 21px 18px;
    font-size: 18px;
    font-family: 'Montserrat', 'Arial';
    margin: 0;
}
.priv_form {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.priv_form a {
    color: #00a9af;
}
.cl_btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    background: url(../images/close.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.quiz_container {
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.quiz_present_list {
    position: absolute;
    width: 325px;
    height: 100%;
    background: linear-gradient(0deg, rgba(248, 248, 248, 0.95), rgba(248, 248, 248, 0.95)), url(../images/bg-min.jpg);
    text-align: center;
    right: 0;
    top: 0;
}
.d_btn.r_btn.quiz_btn i {
    display: none;
}
.quiz_bl {
    float: left;
    width: calc(100%);
    padding: 48px 70px 60px 70px;
}
.quiz_tabs_body {
    position: relative;
    width: 100%;
    height: 446px;
    /* overflow: hidden; */
    display: inline-block;
}
.quiz_tabs_body_item {
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.quiz_tabs_body_item.active {
    z-index: 5;
    opacity: 1;
}
.quiz_name {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}
.quiz_tabs {
    display: inline-block;
    width: 100%;
}
.quiz_tabs_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.quiz_tabs_header_item {
    width: 12%;
    height: 5px;
    display: inline-block;
    background: #E8E8E8;
    border-radius: 60px;
    transition: 0.2s;
}
.quiz_tabs_header_item.active {
    background: #00A9AF;
}
.quest_number {
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
}
.question {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-top: 25px;
    margin-bottom: 40px;
}
.answer_list {
    display: inline-block;
    width: 100%;
}
.answer_item {
    float: left;
    width: calc(25% - 15px);
}
.answer_item:nth-child(n) {
    margin-left: 5px;
}
.answer_item {
    float: left;
    width: calc(25% - 15px);
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 14px;
    height: 62px;
    line-height: 62px;
    padding: 0 10px 0 56px;
    position: relative;
}
.answer_item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    z-index: 1;
    transition: 0.2s;
}
.answer_item input[type="radio"]:checked+span, .answer_item input[type="checkbox"]:checked+span {
    border-color: #ED3833;
}
.answer_item p {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    vertical-align: middle;
}
.answer_item input[type="radio"], .answer_item input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.answer_item span:before {
    content: "";
    position: absolute;
    left: 30px;
    width: 16px;
    height: 16px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    top: 20px;
    transition: 0.2s;
}
.answer_item span:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 35px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: 0.2s;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.73) -26.26%, rgba(255, 255, 255, 0) 11.62%), linear-gradient(180deg, #ED3833 0%, #C1221E 100%);
    opacity: 0;
}
.answer_item input[type="radio"]:checked+span:after, .answer_item input[type="checkbox"]:checked+span:after {
    opacity: 1;
}
.answer_item input[type="radio"]:checked+span:before, .answer_item input[type="checkbox"]:checked+span:before {
    border-color: #ED3833;
}
.d_btn.r_btn {
    width: 245px;
    padding: 14px 0 19px;
    font-size: 20px;
    margin-top: 0;
    float: left;
    cursor: pointer;
    margin-bottom: 0;
}
.quiz_footer {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.g_btn.r_btn:before {
    background: #E8E8E8;
}
.g_btn.r_btn {
    width: 245px;
    padding: 14px 0 19px;
    font-size: 20px;
    margin-top: 0;
    float: left;
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 25px;
    background: #D7D6D6;
    box-shadow: none;
}
.present_name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 40px;
}
.present_img {
    display: inline-block;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 16px;
}
.present_item_name {
    font-size: 18px;
    line-height: 22px;
}
.quiz_present_item {
    display: inline-block;
    padding: 10px;
    max-width: 262px;
}
.quiz_form_name {
    font-size: 30px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-top: 10px;
}
.quiz_form_name span {
    color: #1C93D1;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: normal;
}
.quiz_inps {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 30px;
}
.quiz_inps .input_bl {
    width: calc(50% - 15px);
    margin: 0 auto;
}
.quiz_tabs_body_item.quiz_form {
    top: -10px;
    background: #ffffff;
    text-align: center;
}
.r_btn p {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    position: relative;
    z-index: 5;
    font-weight: bold;
}
.q_btn.r_btn {
    margin: 0;
    display: inline-block;
    padding: 22px 75px;
    border: none;
    -webkit-appearance: none;
}
.quiz_present_item .present_img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url(../images/locked.png) center no-repeat;*/
    background-size: 37px;
    transition: 1s;
	opacity:0;
}
.quiz_present_item.locked .present_img:before {
    opacity:1;
}
.err_msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: rgba(255, 255, 255, 0.79);
    font-size: 30px;
    font-weight: bold;
    color: #ff0000;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
}
.err_msg.active {
    opacity: 1;
}
.suc_mess_head {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #00A9AF;
    margin-bottom: 22px;
}
.suc_mess_head.red {
    color: #ff0000;
}
.suc_mess_descr {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.suc_mess_descr a {
    color: #00A9AF;
    text-decoration: none;
    font-weight: bold;
}

div#quiz_finish .pop_cont {
    max-width: 570px;
    text-align: center;
}
div#quiz_finish .pop_name {
    color: #00A9AF;
}
.bonus_head {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
}
.bonus_item span {
    vertical-align: middle;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    text-align: left;
}
.bonus_item img {
    display: inline-block;
    vertical-align: middle;
}
.bonus_item {
    display: inline-block;
    line-height: 137px;
}
.bonus_item .img {
    display: inline-block;
    vertical-align: middle;
    width: 43%;
    position: relative;
}
.bonus_item a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/download.png) center no-repeat;
	animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pulse{
0%{
	opacity: 1;
}
 50%{
	opacity: 0.5;
}
 100%{
	opacity: 1;
}
}
@-webkit-keyframe pulse{
0%{
	opacity: 1;
}
 50%{
	opacity: 0.5;
}
 100%{
	opacity: 1;
}
}

div#offs .pop_cont {
    max-width: 1170px;
    text-align: center;
    padding: 60px 100px 30px 100px;
}
.offs_list {
    text-align: left;
    display: inline-block;
    width: 100%;
}
.offs_item {
    width: calc(50% - 15px);
    float: left;
}
.offs_item:nth-child(2n) {
    margin-left: 30px;
}
.offs_item {
    width: calc(50% - 15px);
    float: left;
    margin-bottom: 30px;
}
.o_content {
    background: #EFEFEF;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    min-height: 258px;
}
.offs_name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    height: 43px;
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.offs_left {
    float: left;
    width: 170px;
}
.offs_img {
    width: 100%;
    float: left;
    height: 104px;
    background-size: cover;
    background-position: center;
}
.offs_rej {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    padding: 0 12px;
    display: inline-block;
    margin-bottom: 4px;
}
.rej_grid {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    min-height: 30px;
}
.rej_days span {
    float: left;
    clear: both;
    font-size: 6px;
    line-height: 10px;
    color: #ffffff;
    background: #00A9AF;
    width: 22px;
    height: 10px;
    text-align: center;
    margin: 2px 0;
}
.rej_days {
    padding-left: 12px;
}
.rej_time {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    text-align: center;
}
.offs_right {
    float: left;
    width: calc(100% - 170px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#offs .pop_name {
    margin-bottom: 50px;
}



/*********preloader**********/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.09);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}
.preloader.active {
    opacity: 1;
    z-index: 30000000;
    visibility: visible;
}
.sk-fading-circle {
    width: 4em;
    height: 4em;
    position: relative;
    margin: auto;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #00a9af;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.66);
    border-radius: 100%;
    -webkit-animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
    animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle-2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle-3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle-4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle-5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle-6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle-7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle-8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle-9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle-10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle-11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle-12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle-2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle-3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle-4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle-5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle-6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle-7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle-8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle-9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle-10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle-11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle-12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-fading-circle-delay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-fading-circle-delay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/*********end_preloader**********/



@media(max-width:1500px){
.header {
    margin-top: 10px;
    margin-bottom: 30px;
}
h1 {
    font-size: 40px;
    line-height: 50px;
}
.pr_item span {
    line-height: 16px;
}
.pr_item {
    margin-top: 12px;
    background: url(../images/check.svg) left no-repeat;
    padding-left: 46px;
    font-size: 15px;
    min-height: 38px;
    line-height: 38px;
    background-size: 30px;
}
.section.main .r_btn {
    margin-top: 34px;
    padding: 26px 46px;
    font-size: 18px;
}
.descr {
    max-width: 379px;
}
.present_item img {
    max-height: 80px;
}
.present_item {
    line-height: 80px;
    height: 80px;
}



}

@media(min-width:1400px){
    .logo {
        width: 250px;
    }
}
@media(max-width:1399px){
.pr_list {
    margin: 20px 0;
}
.logo {
	width: 200px;
}
.loc {
    margin-top: 21px;
    margin-left: 100px;
}
.phone {
    margin-top: 18px;
}
.fb_btn {
    margin-top: 8px;
}
h1 {
    font-size: 34px;
    line-height: 42px;
}
.section.main .r_btn {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 18px 44px;
    font-size: 16px;
}
.descr {
    max-width: 342px;
}
.present_bl {
    margin-top: 6px;
    margin-bottom: 4px;
}
.present_item img {
    max-height: 64px;
}
.present_item {
    line-height: 64px;
    height: 64px;
}
.present_item span {
    font-size: 11px;
    line-height: 14px;
}
.partner_bl .name {
    font-size: 16px;
}
.partners_item {
    height: 30px;
    line-height: 30px;
}
.pr_item {
    font-size: 14px;
    min-height: 34px;
    line-height: 34px;
    max-width: 320px;
}
.copyr_bl {
    margin-bottom: 10px;
}
.quiz_bl {
    padding: 26px 56px 20px 56px;
}
.quiz_name {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
}
.quest_number {
    margin-top: 12px;
}
.question {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.quiz_tabs_header_item {
    height: 3px;
}
.answer_item {
    height: 48px;
    line-height: 48px;
}
.answer_item p {
    font-size: 13px;
    line-height: 15px;
}
.answer_item span:before {
    top: calc(50% - 8px);
    left: 20px;
}
.answer_item span:after {
    top: calc(50% - 3px);
    left: 25px;
}
.quiz_tabs_body {
    height: 342px;
}
.g_btn.r_btn, .d_btn.r_btn {
    font-size: 16px;
    padding: 14px 0;
    width: 208px;
}
.quiz_container {
    margin-top: -13px;
    margin-bottom: 18px;
}
.present_name {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 15px;
}
.present_item_name {
    font-size: 14px;
    line-height: 17px;
}
.present_img {
    width: 90px;
    height: 90px;
}
.quiz_present_item {
    max-width: 230px;
}
.quiz_form_name {
    font-size: 20px;
    line-height: normal;
    max-width: 454px;
    margin: auto;
    margin-top: 10px;
}
.input_bl input {
    height: 52px;
}
.quiz_inps {
    margin-bottom: 10px;
    margin-top: 20px;
}
.q_btn.r_btn {
    padding: 15px 75px 12px;
    font-size: 18px;
}
.r_btn p {
    font-size: 10px;
    line-height: 16px;
}
.container {
    max-width: 1024px;
}
.partner_bl .name {
    width: 148px;
}
.partners_list {
    width: calc(100% - 148px);
}
div#offs .pop_cont {
    max-width: 1024px;
    padding: 18px 30px 10px 30px;
}
.offs_name {
    font-size: 13px;
}
div#offs .pop_name {
    margin-bottom: 0;
    font-size: 20px;
}
.rej_days span {
    margin: 1px 0;
}
.rej_grid {
    margin-bottom: 3px;
}
.o_content {
    min-height: 230px;
}
.offs_item {
    margin-bottom: 6px;
}
.rej_time {
    font-size: 20px;
}

}


@media(max-width:1024px){
.logo {
    width: 150px;
}
.loc {
    margin-left: 68px;
    font-size: 12px;
    margin-top: 15px;
}
.loc:before {
    width: 21px;
    height: 20px;
    background: url(../images/loc.svg) center no-repeat;
    background-size: contain;
    top: 3px;
    left: -26px;
}
.phone {
    font-size: 16px;
    margin-top: 13px;
}
.fb_btn {
    margin-top: 6px;
    font-size: 13px;
}
.main_content {
    max-width: 602px;
}
.quiz_present_list {
    width: 240px;
    padding: 0 15px;
}
.present_item_name {
    font-size: 14px;
    line-height: 140%;
}
.present_name {
    margin-bottom: 20px;
    margin-top: 28px;
}
.quiz_bl {
    width: calc(100% - 240px);
    padding: 28px 35px 40px 35px;
}
.quiz_name {
    margin-bottom: 22px;
}
.question {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 28px;
}
.answer_item p {
    font-size: 12px;
    line-height: 140%;
}
.answer_item {
    padding: 0 10px 0 38px;
}
.answer_item span:before {
    left: 11px;
}
.answer_item span:after {
    left: 16px;
}
.d_btn.r_btn {
    width: 200px;
    font-size: 14px;
    padding: 11px 0 15px;
}
.d_btn.r_btn, .g_btn.r_btn {
    width: 200px;
    font-size: 14px;
    padding: 11px 0 15px;
}


.quiz_form_name {
    font-size: 22px;
    line-height: normal;
}
.quiz_inps {
    margin-bottom: 12px;
}

}

@media(max-width:767px){
.phone {
    position: absolute;
    right: 0;
    top: 5px;
    margin: 0;
    font-size: 14px;
}
.logo {
    width: 140px;
}
.loc {
    margin: 0;
    margin-left: 26px;
    font-size: 10px;
    position: absolute;
    top: 52px;
    left: 0;
}
.fb_btn {
    padding: 9px 15px 8px 16px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 42px;
    right: 0;
    margin: 0;
}
.fb_btn:after {
	display:none;
}
.header {
    padding-bottom: 34px;
}
h1 {
    font-size: 22px;
    line-height: 140%;
}
.pr_item {
    width: 100%;
    font-size: 12px;
    padding-left: 34px;
    background-size: 25px;
    margin-top: 6px;
}
.pr_list {
    margin-top: 10px;
    margin-bottom: 0;
}
.section.main .r_btn {
    font-size: 13px;
    padding: 20px 28px;
    margin-top: 20px;
}
.descr {
    max-width: 263px;
    font-size: 10px;
}
.present_item img {
    max-width: 64px;
}
.present_item span {
    width: calc(100% - 80px );
    margin: 0;
    font-size: 9px;
    line-height: 130%;
    padding-left: 10px;
}
.present_item {
    display: flex;
    align-items: center;
}
.present_bl {
    margin-top: 0;
}
.partner_bl .name {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.partners_list {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.partners_item {
    width: 17%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    overflow: hidden;
    float: none;
}
.partners_item img {
    vertical-align: middle;
}
.section.main {
    background: url(../images/bg-min.jpg) center;
    position: relative;
    background-size: 150%;
    background-position: right top;
    background-position: 15% center;
    background-size: cover;
}
.section.main .header, .section.main .main_content, .section.main .partner_bl, .section.quiz .header {
    position: relative;
    z-index: 5;
}
.section.main .copyr_bl {
    z-index: 5;
}
/*.section.main:before {
    content: "";
    position: fixed;
    right: 0;
    bottom: 0;
    background: url(../images/peop.png) center no-repeat;
    background-size: contain;
    width: 300px;
    height: 480px;
    z-index: 1;
}*/
.section.main:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.pop_cont {
    padding: 40px 25px;
}
.pop_name {
    font-size: 20px;
    line-height: 134%;
}
.pop_descr {
    font-size: 13px;
    line-height: 140%;
}
.input_bl input {
    height: 44px;
    font-size: 14px;
}
.s_btn.r_btn {
    padding: 13px 18px;
    font-size: 14px;
}
.priv_form {
    font-size: 9px;
}
.cl_btn {
    width: 25px;
    height: 25px;
    top: 16px;
    right: 16px;
}
div#offs .pop_cont {
    padding: 30px 15px 0 15px;
    max-width: 400px;
}
.offs_item {
    margin: 0 0 15px 0 !important;
    width: 100%;
}
.offs_name {
    font-size: 14px;
    line-height: 140%;
    height: auto;
    margin-top: 20px;
}
.rej_time {
    font-size: 14px;
}
.offs_left {
    width: 122px;
}
.offs_img {
    height: 80px;
}
.o_content {
    min-height: auto;
}
.offs_right {
    width: calc(100% - 122px);
}
div#offs .pop_name {
    max-width: 275px;
    margin: auto;
}

.quiz_container {
    width: calc(100% + 30px);
    margin-left: -15px;
    float: left;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    z-index: 5;
}
.quiz_bl {
    width: 100%;
    padding: 20px 15px;
}
.quiz_name {
    font-size: 12px;
    line-height: 140%;
}
.question {
    margin: 15px 0;
    font-size: 16px;
}
.quiz_tabs_body {
    height: auto;
}
.quiz_tabs_body_item {
    opacity: 1;
    position: static;
    display: none;
}
.quiz_tabs_body_item.active {
    display: inline-block;
    margin-top: -10px;
}
.quiz_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 16000160;
    background: rgba(38, 37, 51, 0.38);
    box-shadow: 0 -1px 9px rgba(0, 0, 0, 0.27);
}
.d_btn.r_btn, .g_btn.r_btn {
    margin: 0;
    float: left;
    width: 50%;
    border-radius: 0;
}
.d_btn.r_btn:before, .g_btn.r_btn:before {
    display: none;
}
.copyr_bl {
    margin-bottom: 56px;
}
.quiz_present_list {
    float: left;
    position: static;
    width: 100%;
    padding: 0 calc(50% - 140px);
}
.answer_item {
    width: 100%;
    margin-left: 0 !important;
    line-height: normal;
    height: auto;
    min-height: 30px;
}
.answer_item p {
    padding: 10px 0;
}
.answer_item span:before {
    top: calc(50% - 8px);
}
.answer_item span:after {
    top: calc(50% - 3px);
}
.present_name {
    font-size: 14px;
}
.quiz_present_item {
    max-width: 140px;
    height: 172px;
    overflow: hidden;
    float: left;
}
.present_item_name {
    font-size: 10px;
    height: 42px;
    overflow: hidden;
}
.present_img {
    width: 90px;
    height: 90px;
}
.d_btn.r_btn.quiz_btn i {
    display: block;
    border-radius: 0;
    height: 100%;
}
.d_btn.r_btn.quiz_btn i:after {
    width: 160%;
    height: 140%;
    background-size: 60px 100%;
    opacity: 0.4;
}
.d_btn.r_btn {
    float: right;
}
.quiz_form_name {
    font-size: 16px;
}
.quiz_inps .input_bl {
    width: 100%;
    max-width: 300px;
}
.quiz_inps {
    display: inline-block;
    width: 100%;
    /* max-width: 300px; */
}
.q_btn.r_btn {
    padding: 15px 32px;
    font-size: 16px;
}

.r_btn p {
    font-size: 10px;
}
.bonus_item span {
    width: 54%;
    font-size: 10px;
}
.copyr_txt {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.copyr_bl a {
    float: none;
    margin-bottom: 10px;
    display: inline-block;
}

}

@media(max-width:600px){
    .section.main:before {
        width: 200px;
        height: 316px;
        opacity: 0.1;
    }
}
ul, ul li, ol, ol li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.custom-form{
    margin: 0 auto;
    margin-top: 35px;
}
.custom-form-grid { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; margin: -5px; width: 100%; max-width: 570px; }
.custom-form-col { padding: 5px; width: 100%; }
.custom-form__input__tel { padding: 5px; width: 50%; }
.custom-form__title { font-size: 18px; font-weight: normal; margin-bottom: 20px; }
.custom-form-toggle { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-flow: row nowrap; 
    flex-flow: row nowrap; 
    -webkit-box-pack: start; 
    -ms-flex-pack: start; 
    justify-content: center; 
    -webkit-box-align: stretch; 
    -ms-flex-align: stretch; 
    align-items: stretch; 
    margin: -3px; 
    margin-bottom: 20px; 
}
.custom-form-toggle-item { padding: 3px; }
.custom-form-toggle__btn { 
    padding: 9px 15px; 
    background: #484848; 
    color: #fff;
    border-radius: 4px; 
    font-size: 14px; 
    position: relative; 
    cursor: pointer; 
}
.custom-form-toggle__btn:hover { background: #1C93D1; }
.custom-form-toggle__btn_active { background: #1C93D1; }
.custom-form-toggle__btn_active:after { content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 5px 4.5px 0 4.5px; border-color: #1C93D1 transparent transparent transparent; position: absolute; left: 50%; top: 100%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.custom-form-toggle__btn input { display: none; }
.custom-form__input { 
    display: block; 
    width: 100%; 
    padding: 17px 15px; 
    border: 1px solid transparent; 
    border-radius: 6px;
    font-size: 16px; 
    resize: none; 
    border: 1px solid #E8E8E8;
    border-radius: 60px;
    outline: none;
}
.custom-form__input__phone { display: block; width: 100%; padding: 17px 15px; border: 1px solid transparent; border-radius: 6px; resize: none; }
.custom-form__input.error { border-color: red; }
.custom-form__btn { height: 55px; }
.custom-form__file { display: inline-block; padding: 10px 0; cursor: pointer; font-size: 16px; text-decoration: underline; }
.custom-form__file input { display: none; }
.custom-form-accept { margin-top: 15px; font-size: 11px; color: #7F7F7F; }
.custom-form-accept__checkbox { display: none; }
.custom-form-accept__label { display: inline-block; padding-left: 25px; cursor: pointer; position: relative; }
.custom-form-accept__label:before { content: ""; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 18px; height: 18px; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: #FFF; background-repeat: no-repeat; background-position: center; border-radius: 3px; border: 1px solid transparent; }
.custom-form-accept__checkbox.error + .custom-form-accept__label:before { border-color: red; }
.custom-form-accept__checkbox.error + .custom-form-accept__label { color: red; }
.custom-form-accept__checkbox:checked + .custom-form-accept__label { color: #fff; }
.custom-form-accept__checkbox:checked + .custom-form-accept__label:before { border-color: transparent; background-image: url(img/svg/check.svg); }

.custom-form__input__tel {display: none; width: 100%;margin-top: 3%;}

@media screen and (max-width: 640px) {
    .custom-form__title { font-size: 13px; text-align: center; }
    .custom-form-toggle { margin-bottom: 10px; }
    .custom-form-toggle__btn { font-size: 8.6px; padding: 5px; }
    .custom-form-grid { width: 100%; max-width: 320px; margin: auto; }
    .custom-form-col { width: 100%; }
    .custom-form__input__tel { width: 100%; }
    .custom-form__input { padding: 12px 15px; font-size: 15px; }
    .custom-form__input__phone { display: block;padding: 12px 15px; font-size: 15px; }
    .custom-form-accept { font-size: 10px; text-align: center; }
}





