/* FONTS */
@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI Light"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.eot") format("eot");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI Italic"), url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.ttf") format("truetype"), url("../fonts/SegoeUI-Italic.eot") format("eot");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI SemiBold"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype"), url("../fonts/SegoeUI-SemiBold.eot") format("eot");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI Bold"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUI-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }