.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-3d {
  font-size:(27/10)*1rem;
  width:(27/27)*1em;
}
.icon-arrow {
  font-size:(9/10)*1rem;
  width:(10/9)*1em;
}
.icon-attach {
  font-size:(23/10)*1rem;
  width:(12/23)*1em;
}
.icon-calendar {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-cert {
  font-size:(17/10)*1rem;
  width:(18/17)*1em;
}
.icon-chevron {
  font-size:(8/10)*1rem;
  width:(4/8)*1em;
}
.icon-close {
  font-size:(492/10)*1rem;
  width:(492/492)*1em;
}
.icon-compare {
  font-size:(13/10)*1rem;
  width:(10/13)*1em;
}
.icon-direction {
  font-size:(14/10)*1rem;
  width:(15/14)*1em;
}
.icon-download {
  font-size:(15/10)*1rem;
  width:(20/15)*1em;
}
.icon-email {
  font-size:(14/10)*1rem;
  width:(17/14)*1em;
}
.icon-eye {
  font-size:(16/10)*1rem;
  width:(21/16)*1em;
}
.icon-fb {
  font-size:(24/10)*1rem;
  width:(23/24)*1em;
}
.icon-hand {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-heart {
  font-size:(15/10)*1rem;
  width:(17/15)*1em;
}
.icon-insta {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-locator {
  font-size:(21/10)*1rem;
  width:(20/21)*1em;
}
.icon-lock {
  font-size:(15/10)*1rem;
  width:(15/15)*1em;
}
.icon-medal {
  font-size:(11/10)*1rem;
  width:(11/11)*1em;
}
.icon-menu {
  font-size:(19/10)*1rem;
  width:(25/19)*1em;
}
.icon-news {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-office {
  font-size:(21/10)*1rem;
  width:(18/21)*1em;
}
.icon-paper {
  font-size:(25/10)*1rem;
  width:(24/25)*1em;
}
.icon-parking {
  font-size:(16/10)*1rem;
  width:(11/16)*1em;
}
.icon-phone {
  font-size:(18/10)*1rem;
  width:(19/18)*1em;
}
.icon-placeholder {
  font-size:(13/10)*1rem;
  width:(9/13)*1em;
}
.icon-play {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-print {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-receipt {
  font-size:(21/10)*1rem;
  width:(20/21)*1em;
}
.icon-search {
  font-size:(17/10)*1rem;
  width:(18/17)*1em;
}
.icon-share {
  font-size:(15/10)*1rem;
  width:(15/15)*1em;
}
.icon-star {
  font-size:(9/10)*1rem;
  width:(10/9)*1em;
}
.icon-tablet {
  font-size:(15/10)*1rem;
  width:(12/15)*1em;
}
.icon-telegram {
  font-size:(14/10)*1rem;
  width:(17/14)*1em;
}
.icon-union {
  font-size:(21/10)*1rem;
  width:(23/21)*1em;
}
.icon-user-border {
  font-size:(18/10)*1rem;
  width:(12/18)*1em;
}
.icon-vk {
  font-size:(12/10)*1rem;
  width:(20/12)*1em;
}
.icon-vk-2 {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-whatsapp {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-youtube {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-youtube-play {
  font-size:(40/10)*1rem;
  width:(54/40)*1em;
}
.icon-zoom {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
