.loaderArea {
  background-color: #000;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.clear-load {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.loader {
  width: 100px;
  height: 100px;
}

.loader > span,
.loader > span:before,
.loader > span:after {
  content: "";
  display: block;
  border-radius: 50%;
  border: 2px solid #428BCA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader > span {
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 border-left-color: transparent!important;
 -webkit-animation: effect-2 2s infinite linear;
 -moz-animation: effect-2 2s infinite linear;
 -ms-animation: effect-2 2s infinite linear;
 -o-animation: effect-2 2s infinite linear;
 animation: effect-2 2s infinite linear;
}

.loader > span:before {
 width: 75%;
 height: 75%;
 border-right-color: transparent!important;
}

.loader > span:after {
 width: 50%;
 height: 50%;
 border-bottom-color: transparent!important;
}

@-webkit-keyframes effect-2 {
 from {
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 } to {
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
 }
 }

@keyframes effect-2 {
 from {
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 } to {
 -webkit-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
 }
 }
/* ---------------------------------- */

.company{
    text-transform: uppercase;
    white-space: nowrap;
}
.city{
    display: block;
    text-align: center;
    white-space: nowrap;
}
.phone{
    display: block;
    text-align: right;
}
/* ----------------------------------------------------------- */
.top-content{
    display: flex;
    position: relative;
    height: 100%;
    top: 0;
}
.flex-center{
    margin: auto;
}
.composition h1, .composition p{
    display: block;
    text-align: center;
}
/* ----------------------------------------------------------- */

/* ----------------------------------------------- */
.btn{
/*     display: block;
    margin: 0 auto; */
    padding: 12px 48px;
}
.form-control{
  font-size: 18px;
}
/* ----------------------------------------------- */
  .checkbox, .radio{
    display: inline-block;
    margin-bottom: 15px; 
  }
  .checkbox:hover, .radio:hover{
    cursor: pointer; 
  }
  .checkbox .fa, .radio .fa{
    width: 1em; 
  }
  .indent{
    padding-left: 30px; 
  }
  .indent .fa{
    margin-left: -30px; 
  }
  .checkbox input[type="checkbox"], .radio input[type="radio"]{
    display: none; 
  }
  .checkbox input[type="checkbox"] + i:before, .radio input[type="radio"] + i:before{
    content: "\f096";
    position: relative;
    bottom: -4px;
    margin-right: 5px;
    color: #999; 
  }
  .checkbox:hover input[type="checkbox"] + i:before, .radio:hover input[type="radio"] + i:before{
    color: #007BFF; 
  }
  .checkbox input[type="checkbox"]:checked + i:before, .radio input[type="radio"]:checked + i:before{
    content: "\f046";
    color: #007BFF; 
  }
  .checkbox input[type="checkbox"]:disabled + i:before,
  .checkbox input[type="checkbox"]:disabled:checked + i:before,
  .radio input[type="radio"]:disabled + i:before,
  .radio input[type="radio"]:disabled:checked + i:before{
    color: #ddd; 
  }

  /*RADIO*/
  .radio input[type="radio"] + i:before{
    content: "\f1db"; 
  }
  .radio input[type="radio"]:checked + i:before {
    content: "\f058"; 
  }
/* ----------------------------------------------- */ 
.poll{
  margin: 40px 0 20px 15px;
} 
/* ------------------------Media----------------------- */
@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    .phone, .company{
        display: block;
        text-align: center;
    } 
    .composition{
        margin-bottom: 40px;
    }
    .composition h1, .composition p{
        display: block;
        text-align: center;
    } 
    .bg{
        height: 1080px;
    }
}
@media(max-width: 768px){
    .form-horizontal{
        margin-bottom: 40px;
    }
    .range{
        padding-right: 60px;
        padding-left: 60px;
    }
    .bg{
        height: 1080px;
    }
}
@media(max-width: 544px){
    .bg{
        height: 1080px;
    }
}
@media (max-width: 320px){
    
}